
mixin Key (key, value)
	key #{key}
	if value
		string #{value}
	else if block
		block

mixin Style (name, scope)
	- if (! scope) scope = name
	dict
		+Key('name', name)
		+Key('scope', scope)
		+Key('settings')
			dict
				block

mixin Debug
	+Key('fontStyle', 'bold')
	+Key('foreground', C('red').hex())
