
- accent = base16.red.normal

mixin Key (key, value)
	- if (value && value.constructor.name === 'Color') value = hexa(value)
	key #{ key }
	if value
		string #{ value }
	else if block
		block

mixin Style (name, scope)
	- if (! scope) scope = name
	dict
		+Key('name', name)
		+Key('scope', scope)
		+Key('settings')
			dict
				block


mixin Bold
	+Key('fontStyle', 'bold')

mixin Fg (color)
	+Key('foreground', color)

mixin FgAccent
	+Fg(accent)


mixin Debug
	+Bold
	+Fg(C('red'))
