include ./mixins.jade

doctype xml
doctype plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"
plist(version='1.0')
	dict
		+Key('name', 'Stalwart')

		+Key('settings')
			array: dict
				+Key('settings')
					dict
						+Key('background', schema.bg.hex())
						+Key('foreground', C('black').hex())

						+Key('caret', schema.accent.hex())

						+Key('lineHighlight', schema.highlight.hex())

						+Key('selection', schema.selection.hex())

						+Key('guide', schema.base16.colors.fg.yellow.bright.hex())
						//!+Key('activeGuide', schema.base16.colors.fg.yellow.bright.hex())
