include ./mixins.jade

doctype xml
doctype plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"
plist(version='1.0')
	dict
		+Key('name', 'Stalwart')

		+Key('settings')
			array
				dict
					+Key('settings')
						dict
							+Key('background', schema.bg)
							+Key('foreground', C('black'))

							+Key('caret', schema.accent)

							- //+Key('gutter', C('white'))
							- //+Key('gutterForeground', schema.accent)

							- //+Key('invisibles', C('red'))

							+Key('lineHighlight', schema.highlight)

							+Key('selection', schema.selection)
							+Key('selectionBorder', schema.selection.darken(.5))

							+Key('guide', base16.red.bright)
							- //+Key('activeGuide', base16.red.bright)
							- //+Key('stackGuide', base16.red.bright)


				- // Language Basics
				+Style('keyword')
					+Bold
					+Fg(C('black'))

				+Style('storage.type')
					+Bold
					+Fg(C('black'))

				+Style('support.function')
					+FgAccent

				+Style('variable.function')
					+FgAccent

				+Style('meta.brace')
					+Bold

				+Style('support.type')
					+Fg(base16.blue.normal)

				+Style('support.class')
					+Fg(base16.blue.normal)


				- // Comment
				+Style('comment')
					+Key('background', schema.comment.bg)

				+Style('comment.line.shebang')
					+Key('background', schema.string.bg)


				- // String
				+Style('string.quoted')
					+Key('background', schema.string.bg)

				+Style('punctuation.definition.string')
					+Bold
					+Key('background', schema.string.bg.darken(.5))


				- // JavaScript
				+Style('constant.other.object.key.js')
					+FgAccent

				+Style('punctuation.separator.key-value.js')
					+Bold
					+Fg(C('black'))

				+Style('punctuation.definition.parameters.begin.js')
					+Bold
				+Style('punctuation.definition.parameters.end.js')
					+Bold

				+Style('meta.function-call.method.without-arguments.js meta.group.braces.round.function.arguments.js')
					+Bold
				+Style('meta.function-call.without-arguments.js meta.group.braces.round.function.arguments.js')
					+Bold

				- // JSON
				+Style('punctuation.definition.dictionary')
					+Bold


				- // CSS
				+Style('entity.name.tag.css')
					+Bold

				+Style('entity.other.attribute-name.class.css')
					+Bold
					+FgAccent

				+Style('entity.other.attribute-name.id.css')
					+Bold
					+Fg(base16.blue.normal)

				+Style('entity.other.attribute-name.pseudo-class.css')
					+Bold
					+Fg(base16.blue.normal)

				+Style('support.type.property-name.css')
					+Bold

				+Style('punctuation.separator.key-value.cs')
					+Bold

				+Style('punctuation.terminator.rule.css')
					+Bold

				+Style('constant.numeric.css')
					+FgAccent

				+Style('variable.declaration.less')
					+FgAccent

				+Style('variable.other.less')
					+FgAccent


				- // SGML
				+Style('entity.name.tag')
					+Bold

				+Style('punctuation.definition.tag')
					+Bold

				+Style('meta.tag.sgml')
					+Bold

				+Style('entity.other.attribute-name')
					+FgAccent


				- // Jade
				+Style('entity.name.tag.jade')
					+Bold

				+Style('entity.name.function.jade')
					+Bold

				+Style('text.jade meta.tag.sgml.doctype')
					+Bold

				+Style('text.jade constant.language.js')
					+Bold
					+FgAccent

				+Style('string.interpolated.jade')
					+FgAccent

				+Style('text.jade constant.id.tag.jade')
					+Bold
					+Fg(base16.blue.normal)

				+Style('text.jade string.comment')
					+Key('background', schema.comment.bg)
