include ./mixins.jade

doctype xml
doctype plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"
plist(version='1.0')
	dict
		+Key('name', 'Stalwart')

		+Key('settings')
			array
				dict
					+Key('settings')
						dict
							+Key('background', schema.bg)
							+Key('foreground', C('black'))

							+Key('caret', schema.accent)

							- //+Key('gutter', C('white'))
							- //+Key('gutterForeground', schema.accent)

							- //+Key('invisibles', C('red'))

							+Key('lineHighlight', schema.highlight)

							+Key('selection', schema.selection)
							+Key('selectionBorder', schema.selection.darken(.5))

							+Key('guide', base16.red.bright)
							- //+Key('activeGuide', base16.red.bright)
							- //+Key('stackGuide', base16.red.bright)


				- // Language Basics
				+Style('keyword')
					+Bold
					+Key('foreground', C('black'))

				+Style('storage.type')
					+Bold
					+Key('foreground', C('black'))

				+Style('support.function')
					+Key('foreground', accent)

				+Style('variable.function')
					+Key('foreground', accent)

				+Style('meta.brace')
					+Bold


				- // Comment
				+Style('comment')
					+Key('background', schema.comment.bg)

				+Style('comment.line.shebang')
					+Key('background', schema.string.bg) // note side effects!


				- // String
				+Style('string.quoted')
					+Key('background', schema.string.bg.alpha(.7))


				- // JavaScript
				+Style('constant.other.object.key.js')
					+Key('foreground', accent)

				+Style('punctuation.separator.key-value.js')
					+Bold
					+Key('foreground', C('black'))

				+Style('punctuation.definition.parameters.begin.js')
					+Bold
				+Style('punctuation.definition.parameters.end.js')
					+Bold

				+Style('meta.function-call.without-arguments.js meta.group.braces.round.function.arguments.js')
					+Bold

				- // JSON
				+Style('punctuation.definition.dictionary')
					+Bold


				//- Jade
				+Style('entity.name.tag.jade')
					+Bold

				+Style('entity.name.function.jade')
					+Bold

				+Style('text.jade meta.tag.sgml.doctype')
					+Bold

				+Style('text.jade constant.language.js')
					+Bold
					+Key('foreground', base16.red.normal)

				+Style('string.interpolated.jade')
					+Key('foreground', base16.red.normal)

				+Style('text.jade constant.id.tag.jade')
					+Bold
					+Key('foreground', base16.blue.normal)
