doctype xml
doctype plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"
plist(version='1.0')
	dict
		key name
		string Stalwart

		key settings
		array: dict
			key settings
			dict
				key background
				string #fdfcfe

				key caret
				string #cc0058
